<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=locals.title%></title>
    <link rel="stylesheet" type="text/css" href="css/accset.css">
</head>
<body>
    <header id="header">
        <a href="/">
        <img id="logo-header" src="/mediafiles/logo.png">
        </a>
    </header>
    <main>
        <ul>
            <li class="btn-1 button">
                <a href="/login" style="text-decoration: none;">
                    <span>LOGIN</span>
                </a>
            </li>
            &emsp;&emsp;
            <li class="btn-1 button">
                <a href="/signup" style="text-decoration: none; ">
                    <span>REGISTER</span>
                </a>
            </li>
        </ul>
    </main>
    <footer>
    
    </footer>    
</body>
</html>