<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=locals.title%></title>
    <link rel="stylesheet" type="text/css" href="/css/Viewcontri.css">
</head>
<body>
    <header id="header">
        <a href="/">
            <img id="logo-header" src="/mediafiles/facebook_cover_photo_2.jpg">
        </a>
        <div id="profile-self-symbol">
            <a href="/profile">
                <i class="fas fa-user fa-2x" style="color: white;"></i>
            </a>
        </div>
        <div id="logout-symbol">
            <a href="/logout">
                <i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i>
            </a>
        </div>
    </header>
    <main>
        <div style="background-color: rgb(168,136,255); height: 100vh; width: 18%; position: absolute; top: 0%;">
            <div style="background-color: orange; height: 22%; width: 100%; position: absolute; top: 0%;">
                <div style="color: rgb(38, 70, 111); font-size: 1.4rem; text-align: center;">
                    <p style=" position:absolute ;top: 12%; left: 18.5%;">
                        <%=user.name%>
                        <br>
                        <%=user.email%>
                    </p>
                </div>
            </div>
            <div id="profile-menu">
                <div id="option-1" class="options-profile" style="top: 29%; height: 19vh;">
                    Basic
                </div>
            <a href="/profile">
                <div id="option-1" class="options-profile" style="top: 29%;">
                    Basic
                </div>
            </a>
            <a href="/ide">
                <div id="option-2" class="options-profile" style="top: 39%;">
                        Practice
                </div>
            </a>
            <a href="/profile/Doubts">
                <div id="option-3" class="options-profile" style="top: 59%;">
                        Doubts
                </div>
            </a>
            <a>
                <div id="option-4" class="options-profile" style="top: 69%; background-color: rgb(103,103,183);">
                        Interests
                </div>
            </a>
            <a href="/profile/Contributions">
                <div id="option-5" class="options-profile" style="top: 79%;">
                        Contributions
                </div>
            </a>
            <a href="/profile/Edit-info">
                <div id="option-6" class="options-profile" style="top: 89%;">
                        Edit-info
                </div>
            </a>
            <a href="/learn">
                <div id="option-6" class="options-profile" style="top: 89%;">
                    Learn about a topic
                </div>
            </a>
        </div>
        </div>
        <div id="content-area-profile">

        </div>
    </main>
</body>
</html>