<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=locals.title%></title>
    <link rel="stylesheet" type="text/css" href="/css/learn.css">
</head>
<body>
    <header id="header" style="position: relative; top: 0%;">
        <a href="/">
            <img id="logo-header" src="/mediafiles/logo.png">
        </a>
    </header>
    <main>
        <div class="topic-display">
            <br>
            <a style="text-decoration: none;" href="/learn/arrays">
                <div class="topic-container">
                    <div class="topic-container-name">
                        Arrays
                        <br> 
                    </div>
                    <div class="topic-container-image" style="width:95.7%">
                        <img src="/mediafiles/array pic.png" style="height: 7.9rem; width: 99%; margin-top: 22%;">
                    </div>
                </div>
            </a>
            <a style="text-decoration: none;" href="/learn/linkedlist">
            <div class="topic-container" style="left: 25%;">
                <div class="topic-container-name">
                    Linked list
                    <br> 
                </div>
                <div class="topic-container-image" style="width:95.7%">
                    <img src="/mediafiles/linked list pic.png" style="height: 7.9rem; width: 99%; margin-top: 22%;">
                </div>
            </div>
            </a>
            <a style="text-decoration: none;" href="/learn/loops">
            <div class="topic-container"style="left: 50%;">
                <div class="topic-container-name">
                    Loops
                    <br> 
                </div>
                <div class="topic-container-image" style="width:95.7%">
                    <img src="/mediafiles/loops pic.png" style="height: 7.9rem; width: 99%; margin-top: 22%;">
                </div>
            </div>
            </a>
            <a style="text-decoration: none;" href="/learn/If else conditionals">
            <div class="topic-container"style="left: 75%;">
                <div class="topic-container-name">
                    If else conditionals
                    <br> 
                </div>
                <div class="topic-container-image" style="width:95.7%">
                    <img src="/mediafiles/question-mark.jpg" style="height: 7.9rem; width: 99%; margin-top: 22%;">
                </div>
            </div>
            </a>
            <a style="text-decoration: none;" href="/learn/trees">
            <div class="topic-container" style="top: 62%;">
                <div class="topic-container-name">
                    Trees
                    <br> 
                </div>
                <div class="topic-container-image" style="width:95.7%">
                    <img src="/mediafiles/tree pic.png" style="height: 7.9rem; width: 99%; margin-top: 22%;">
                </div>
            </div>
            </a>
            <a style="text-decoration: none;" href="/learn/graphs">
            <div class="topic-container" style="left: 25%;top: 62%;">
                <div class="topic-container-name">
                    Graphs
                    <br> 
                </div>
                <div class="topic-container-image" style="width:95.7%">
                    <img src="/mediafiles/graphs.jpg" style="height: 7.9rem; width: 99%; margin-top: 22%;">
                </div>
            </div>
            </a>
            <a style="text-decoration: none;" href="/learn/dynamic Programming">
            <div class="topic-container" style="left: 50%;top: 62%;">
                <div class="topic-container-name">
                    Dynamic Programming
                    <br> 
                </div>
                <div class="topic-container-image" style="width:95.7%">
                    <img src="/mediafiles/dp.png" style="height: 7.9rem; width: 99%; margin-top: 22%;">
                </div>
            </div>
            </a>
            <a style="text-decoration: none;" href="/learn/Recursion">
            <div class="topic-container" style="left: 75%;top: 62%;">
                <div class="topic-container-name">
                    Recursion
                    <br> 
                </div>
                <div class="topic-container-image" style="width:95.7%">
                    <img src="/mediafiles/recursion.jpg" style="height: 7.9rem; width: 99%; margin-top: 22%;">
                </div>
            </div>
            </a>
        </div>
    </main>
</body>
</html>