<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/nqzvaybtva/nqzvaybtva-purpxcnff">
        <input type="password" name="first" placeholder="firstkey">
        <input type="password" name="second" placeholder="secondkey">
        <input type="password" name="third" placeholder="thirdkey">
        <input type="password" name="fourth" placeholder="fourthkey">
        <input type="submit">
    </form>
</body>
</html>