#header{
    text-align: center;
}
#logo-header{
    height: 11rem;
}
#logout-symbol, #profile-self-symbol{
    color: white;
    position: absolute;
    top: 9%;
}
#logout-symbol{
    left: 95%;
}
body{
    background-image: url('../mediafiles/login_page2.jpeg');
}
body input {
    color: orange;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid white;
  }
  body input[type=text] {
    color: white;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid white;
}
#profile-self-symbol{
    left: 90%;
}
#content-area-profile{
    height: calc(100vh - 11.3rem);
}
.options-profile{
    color: white;
    font-size: 2rem;
}
.options-profile{
    height: 8.2vh;
    padding-top: 2.5vh;
    text-align: center;
    cursor: pointer;
}
.options-profile:hover{
    background: radial-gradient(ellipse at bottom, #0D1E31, #111);
    border: 1px solid white;
}
#info-display-1 div{
    font-size: 1.5rem;
    position: absolute;
}
#profile-menu a{
    color: white;
    text-decoration: none;
}
.posts{
    background: radial-gradient(ellipse at bottom, #0D1E31, #111);
    margin-left: 20%;
    width: 77%;
    min-height: 10%;
    color: white;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.posts-title{
    font-size: 2.4rem;
}
.posts-author-name{
    font-size: 1.6rem;
}
.posts-main-content{
    font-size: 1.4rem;
}
#createdoubtsection{
    background: radial-gradient(ellipse at bottom, #0D1E31, #111);
    height: 68%;
    width: 41%;
    position: absolute;
    top: 29%;
    left: 21%;
}
#previousdoubtssection{
    background: radial-gradient(ellipse at bottom, #0D1E31, #111);
    height: 68%;
    width: 33%;
    position: absolute;
    top: 29%;
    left: 64%;
}
#input1{
    position: absolute;
    top: 28%;
    width: 60%;
    text-align: center;
    left: 18%;
    color: orange;
    border-bottom: orange 1px solid;
}
input:focus{
    /* border: 0; */
    outline: none;
}
::placeholder{
    color: orange;
    font-size: 1.1rem;
} 
#desc-input{
    position: absolute;
    top: 37%;
    left: 15%;
    width: 65%;
    border: 1px orange solid;
    resize: none;
    color: orange;
    height: 45%;
}
#desc-input:focus{
    outline: none;
}
#prevhead{
    font-size: 3rem;
    margin-top: 4%;
    text-align: center;
}
.doubts{
    border: 1px solid rgb(168, 136, 255);
    color: orange;
    margin-top: 3%;
    width: 80%;
    margin-left: 10%;
}
input[type=submit]{
    border: orange 1px solid;
    padding: 2%;
    font-size: 1.5rem;
    position: absolute;
    top: 85%;
    cursor: pointer;
    left: 40%;
}
input[type=submit]:hover{
    background: radial-gradient(ellipse at bottom, #0D1E31, #111);
    transition-duration: 0.5s;
}
#listdisplay{
    overflow: scroll;
}
#namemailbox{
    color: rgb(38, 70, 111); 
    font-size: 1.4rem; 
    text-align: center;
}
#createnewhead{
    font-size: 3rem; position: absolute; top: 11%; left: 19.5%;
}
#basicinfohead{
    color: white; position: absolute; font-size: 2rem; top: 2%; left: 35%;
}
@media(max-width:1170px){
    #createnewhead, #prevhead{
        font-size: 2rem;
    }
}

@media (max-width:1000px){
    #namemailbox{
        font-size: 0.9rem
    }
    .options-profile{
        font-size: 1rem;
    }
}
@media (max-width:540px){
    #namemailbox{
        font-size: 0.5rem
    }
    .options-profile{
        font-size: 0.5rem;
    }
}
@media(max-width:435px){
    #createnewhead, #prevhead{
        font-size: 1rem;
    }
}